<script type="text/javascript">
function showtip ($id) {
  document.getElementById ($id).style.display = "block";
}

function hidetip ($id) {
  document.getElementById ($id).style.display = "none";
}
</script>

<meta name="bitly-verification" content="253d3fe86782"/>

<div class="title">
<div class="navbar">
<div class="navline">

  <span class="place">
    <span class="tooltip" id="indextip">contact information and intro </span>
  </span>
  <a class={% if active == 'index' %} "navitem_active"
           {% else %} "navitem" {% endif %}
     href="/index.html"
     onmouseover="showtip ('indextip');"
     onmouseout="hidetip ('indextip');">Home </a>

  <span class="place">
    <span class="tooltip" id="cvtip">Curriculum Vitae </span>
  </span>
  <a class={% if active == 'cv' %} "navitem_active"
           {% else %} "navitem" {% endif %}
     href="/cv.html"
     onmouseover="showtip ('cvtip');"
     onmouseout="hidetip ('cvtip');">CV </a>

</div>
</div>
</div>
