<script type="text/javascript">
function showtip ($id) {
  document.getElementById ($id).style.display = "block";
}

function hidetip ($id) {
  document.getElementById ($id).style.display = "none";
}
</script>

<meta name="bitly-verification" content="253d3fe86782"/>

<div class="title">
<div class="navbar">
<div class="navline">

  <span class="place">
    <span class="tooltip" id="indextip">contact information and intro </span>
  </span>
  <a class={% if active == 'index' %} "navitem_active"
           {% else %} "navitem" {% endif %}
     href="/index.html"
     onmouseover="showtip ('indextip');"
     onmouseout="hidetip ('indextip');">Home </a>

  <span class="place">
    <span class="tooltip" id="nowtip">current interests and focus</span>
  </span>
  <a class={% if active == 'now' %} "navitem_active"
          {% else %} "navitem" {% endif %}
    href="/now.html"
    onmouseover="showtip ('nowtip');"
    onmouseout="hidetip ('nowtip');">Now</a>

  <span class="place">
    <span class="tooltip" id="blogtip">my blag</span>
  </span>
  <a class={% if active == 'blog' %} "navitem_active"
            {% else %} "navitem" {% endif %}
      href="/blog.html"
      onmouseover="showtip ('blogtip');"
      onmouseout="hidetip ('blogtip');">Blog</a>

  <span class="place">
    <span class="tooltip" id="cvtip">Curriculum Vitae </span>
  </span>
  <a class={% if active == 'cv' %} "navitem_active"
           {% else %} "navitem" {% endif %}
     href="/cv.html"
     onmouseover="showtip ('cvtip');"
     onmouseout="hidetip ('cvtip');">CV </a>

  <span class="place">
    <span class="tooltip" id="teachtip">Description of my Computability Theory course with links to complete lecture videos. </span>
  </span>
  <a class={% if active == 'teach' %} "navitem_active"
           {% else %} "navitem" {% endif %}
     href="/teach.html"
     onmouseover="showtip ('teachtip');"
     onmouseout="hidetip ('teachtip');">Computability Theory Course </a>
</div>
</div>
</div>
